<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="propeller" content="86ca8d1e8ba838d1d041bd9b29f73de0"></meta>
        <meta name="msvalidate.01" content="60C47F6B99820AE0026020656FBE28CF" />
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <meta name="Description" content="Learn To Code Nodejs Stuff!"></meta>
        <title>Odetocode - Learn to Do Nodejs Stuff</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
        <link rel="apple-touch-icon" href="/apple-touch-icon.jpg"></link>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"></link>
        <script data-ad-client="ca-pub-9679583512458769" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script><script data-ad-client="ca-pub-1064406357834510" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <style>
            li {
                white-space: pre-wrap
            }
            h1 {
                font-size: 60px;
            } table {
                font-size: 22px;
            } nav-link {
                margin: 0!important;
            }
        </style>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171636977-1"></script>
        <meta name="google-site-verification" content="MRECW15hjFWbOq_xbU9PHJWgJSlRwkZEFOJZaILP6yE" />
        <script data-ad-client="ca-pub-9679583512458769" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        </head>
        <body class="text-center bg-dark text-light">
            <nav class="navbar (no expand class) navbar-inverse navbar-light bg-dark border-left border-right border-top border-bottom border-light">
                <a class="navbar-brand text-primary" href="/">OdeToCode</a>
                <button class="navbar-toggler bg-light display-4" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon bg-light"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                    <% posts.forEach(function(post) { %>
                            <a class="nav-link bg-light text-dark" href="/post/<%= post._id %>"><%= post.description %></a>
                    <% }) %>
                    </ul>
                </div>
            </nav>
            <h1 class="text-center">Articles</h1>
        <table class="table table-border border-dark">
                <tr>
                    <th class="text-primary text-center">Description</th>
                    <th class="text-light text-center">Image</th>
                    <th class="text-warning text-center">Date Created</th>
                    <th class="text-danger text-center">Author</th>
                </tr>
                <% posts.forEach(function(post) { %>
                        <tr>
                            <td class="text-center text-light"><a class="text-primary h4" href="post/<%= post._id %>"><%= post.description %></a></td>
                            <td class="float-left"><div><img class="text-danger" src="data:image/png;base64, <%= post.image %>" alt=""></img></td>
                            <td class="text-center text-warning"><%= post.dateCreated %></td>
                            <td class="text-center text-danger"><%= post.author %></td>
                        </tr>
                <% }) %>
        </table>
    </body>
</html>