<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <meta name="description" content="Odetocode: A Nodejs Blog"></meta>
        <title>OdeToCode - Learn To Code Nodejs Stuff</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script data-ad-client="ca-pub-1064406357834510" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <style>
        li {
            white-space: pre-wrap
        }
        h1 {
            font-size: 60px;
        } li {
            font-size: 22px;
        }
        </style> 
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171636977-1"></script>
        <script>
         window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-171636977-1');
        </script>
        <style>
            li {
                white-space: pre-wrap
            }
            h1 {
                font-size: 60px;
            } table {
                font-size: 22px;
            }
        </style>
        </head>
    <body class="text-center bg-dark text-light">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <a class="navbar-brand text-light display-4" href="/">OdeToCode</a>
            <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon bg-light"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active bg-light list-unstyled">
                        <a class="nav-link text-dark" href="/post/<%= Post._id %>"><%= Post.description %></a>
                        <nav-link><a href="/" class="text-center">Back To OdeToCode</a></nav-link>
                    </li>
                </ul>
            </div>
        </nav>
        <hr class="bg-light">
        <ul>
            <li class="justify-content-center mt-2 list-unstyled text-primary display-4 bg-light"><%- Post.description %></li>
            <li class="justify-content-center list-unstyled"><img alt="" class="list-unstyled mt-2" src="data:image/png;base64, <%= Post.image %>"></img></li>
            <li class="mt-4 list-unstyled"><%= Post.post %></li>
            <hr class="bg-light">
            <li class="mt-2 list-unstyled text-primary"><%- Post.author %></li>
            <li class="mt-4 list-unstyled text-primary"><%= Post.dateCreated %></li>
        </ul>
    </body>
</html>