<html>
    <head>
        <title>OdeToCode - Learn To Code Nodejs Stuff</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script data-ad-client="ca-pub-1064406357834510" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <style>
        li {
            white-space: pre-wrap
        }
        h1 {
            font-size: 60px;
        } li {
            font-size: 22px;
        }
        </style> 
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171636977-1"></script>
        <script>
         window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-171636977-1');
        </script>

        </head>
    <body class="text-center bg-dark text-light">
        <nav class="bg-light text-dark">
            <h1><%= Post.description %></h1>
            <nav-link><a href="/">Back To OdeToCode</a></nav-link>
        </nav>
        <ul>
            <li class="list-unstyled"><img alt="" class="list-unstyled mt-2" src="data:image/png;base64, <%= Post.image %>"></img></li>
    
            <li class="mt-4 list-unstyled"><%= Post.post %></li>
            <li class="mt-4 list-unstyled"><%= Post.dateCreated %></li>
            <li class="mt-2 list-unstyled"><%- Post.author %></li>
        </ul>
    </body>
</html>